@page "/contacts/{contactid:long}"
@using ContactsApp.Frontend.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Contacts</PageTitle>

<h1>Contact details</h1>

@if (contact == null)
{
    if (failed)
    {
        <p>Failed to load contact with ID @ContactId</p>
        <p>Check if you are logged in and if the contact exists</p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
    
}
else
{
    <NavLink href="@($"contacts/{contact.Id}/edit")">Edit this contact</NavLink>

    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Password</th>
                <th>Phone number</th>
                <th>Date of birth</th>
                <th>Category</th>
                <th>Subcategory</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Email</td>
                <td>@contact.Password</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.DateOfBirth.ToLongDateString()</td>
                @if (invalidCategory)
                {
                    <td>Unknown category</td>
                    <td>Unknown subcategory</td>
                }
                else
                {
                    <td>@categorization.Category</td>
                    @if (categorization.Subcategory == null)
                    {
                        <td>does not apply</td>
                    }
                    else
                    {
                        <td>@categorization.Subcategory</td>
                    }
                    
                }
            </tr>
        </tbody>
    </table>

    <button @onclick="deleteButtonClick">Delete contact</button>
}

@code {
    [Parameter]
    public long ContactId { get; set; }
    private Contact? contact;
    private Categorization? categorization;


    private bool failed = false;

    // could not find category with specified ID
    private bool invalidCategory = false;

    protected override async Task OnInitializedAsync()
    {
        // get contact
        try
        {
            contact = await Http.GetFromJsonAsync<Contact>($"api/contact/{ContactId}");
        }
        catch (Exception e)
        {
            failed = true;
        }

        if (contact == null)
        {
            failed = true;
            return;
        }

        // get category info
        categorization = await Http.GetFromJsonAsync<Categorization>($"api/contact/category/{contact.CategorizationId}");

        if (categorization == null)
        {
            invalidCategory = true;
        }
    }

    // delete
    private async void deleteButtonClick()
    {
        var deleteResult = await Http.DeleteAsync($"api/contact/{contact.Id}");

        if (deleteResult.IsSuccessStatusCode) Navigation.NavigateTo("contacts");
    }

    // functions like the above should probably be moved to separate files made for this purpose
    // unfortunately I do not have time for such pleasures at this moment
    // very regretfully
}
